@rendermode InteractiveWebAssembly

<DxFormLayout>
    <DxFormLayoutItem Caption="Name" ColSpanLg="12" ColSpanMd="12" ColSpanSm="12">
        <DxTextBox @bind-Text="@singleCompanyPaintableItem.Name" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Description" ColSpanLg="12" ColSpanMd="12" ColSpanSm="12">
        <DxTextBox @bind-Text="@singleCompanyPaintableItem.Description" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Price" ColSpanLg="12" ColSpanMd="12" ColSpanSm="12">
        <DxTextBox @bind-Value="@singleCompanyPaintableItem.Price" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="SqFt" ColSpanLg="4" ColSpanMd="12" ColSpanSm="12">
        <DxTextBox @bind-Value="@singleCompanyPaintableItem.SquareFootage" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Time" ColSpanLg="4" ColSpanMd="12" ColSpanSm="12">
        <DxTextBox @bind-Value="@singleCompanyPaintableItem.BaseTime" />
    </DxFormLayoutItem> 
</DxFormLayout>
@{
    if (!isGridEdit)
    {
        <p />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Click="@Save" Enabled="!isSending">
            <div class="d-flex">
                <DxWaitIndicator Visible="isSending" />
                <span class="mx-2">@Message</span>
            </div>
        </DxButton>
    }
}


@code {
    [Parameter]
    public CompanyPaintableItem singleCompanyPaintableItem { get; set; } = new CompanyPaintableItem();
    [Parameter]
    public Func<CompanyPaintableItem, Task> OnSaveCompanyPaintableItem { get; set; }
    [Parameter]
    public bool isGridEdit { get; set; } = false;
    bool isSending = false;
    string Message => isSending ? "Saving..." : "Save";

    async Task Save()
    {
        isSending = true;
        if (OnSaveCompanyPaintableItem != null)
            await OnSaveCompanyPaintableItem(singleCompanyPaintableItem);
        isSending = false;
    }
}
